
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formContainer{
  display: flex;
  align-items: center;
flex-direction: column;
margin-top: 3rem;
width: 300px;
/* height: 0px; */
/* background-color: blue; */
}
.submitBtn{
  width: 120px;
  height: 30px;
  border-radius: 8px;
  /* background-color: aquamarine; */
}
.innerContainer{
  display: flex;
  align-items: center;

margin-top: 0rem;
width: 300px;
}

.boxGrid{
  display: flex; flex-direction: row;
align-items: center; justify-content: center;
width: 70px; height: 70px; border-color: #C6C6C6;
border: 1px; border-style: solid; border-collapse: collapse;
margin: 1px;
}

.tableGrid{
  display: flex;
  /* align-items: center;
flex-direction: column; */
/* margin-top: 5rem; */
}
